In [1]:
import pandas as pd

In [5]:
data = data = {"Student ID":[416,375,400,211,312],
"Communication":[7,6,5,8,9],
"Placed":["Yes","No","No","Yes","Yes"]}

placement_data  =  pd.DataFrame(data)
placement_data

   Student ID  Communication Placed
0         416              7    Yes
1         375              6     No
2         400              5     No
3         211              8    Yes
4         312              9    Yes

## Q1 how to write the logic you mentioned
the communication score should be greater than 6

In [7]:
placement_data['Communication'] >6

0     True
1    False
2    False
3     True
4     True
Name: Communication, dtype: bool

In [10]:
st = [311,6]
def placement_prediction(st):
    if st[1]>6:
        return "Yes"
    else:
        return"No"

In [11]:
placement_prediction(st)

'No'

In [12]:
placement_prediction([45,3.6])

'No'

# machine learning

# algorithm,model
- decision tree classifier
- available DTC

In [17]:
placement_data['Communication'].shape

(5,)

In [19]:
import sklearn # machine learning algorithm
from sklearn.tree import DecisionTreeClassifier
dtc = DecisionTreeClassifier()
dtc.fit(placement_data[['Communication']],placement_data['Placed'])

DecisionTreeClassifier(class_weight=None, criterion='gini', max_depth=None,
                       max_features=None, max_leaf_nodes=None,
                       min_impurity_decrease=0.0, min_impurity_split=None,
                       min_samples_leaf=1, min_samples_split=2,
                       min_weight_fraction_leaf=0.0, presort=False,
                       random_state=None, splitter='best')

In [22]:
dtc.predict(placement_data[['Communication']])

array(['Yes', 'No', 'No', 'Yes', 'Yes'], dtype=object)

In [23]:
placement_data['Placed']

0    Yes
1     No
2     No
3    Yes
4    Yes
Name: Placed, dtype: object

In [26]:
dtc.predict([[8]])

array(['Yes'], dtype=object)

In [27]:
dtc.predict([[8],[7.5],[3.4]])

array(['Yes', 'Yes', 'No'], dtype=object)

### labeled and unlabeled data
* labeled means alog with placed column
* unlabled  without table

In [29]:
data3 = {"Student ID":[416,375,400,211],
"internal marks":[7,6,5,8,],
"no of hours study":[2,1,2,3],"marks":[76.5,87,59,53.5]}

marks_data2  =  pd.DataFrame(data3)
marks_data2

   Student ID  internal marks  no of hours study  marks
0         416               7                  2   76.5
1         375               6                  1   87.0
2         400               5                  2   59.0
3         211               8                  3   53.5

In [30]:
marks_data2.iloc[:,1:3]

   internal marks  no of hours study
0               7                  2
1               6                  1
2               5                  2
3               8                  3

In [32]:
from sklearn.linear_model import LinearRegression
lr = LinearRegression()
lr.fit(marks_data2.iloc[:,1:3],marks_data2['marks'])

LinearRegression(copy_X=True, fit_intercept=True, n_jobs=None, normalize=False)

# y = m1x1 + m2x2+c

In [33]:
lr.coef_

array([  6.66666667, -23.41666667])

In [35]:
lr.intercept_

72.5

In [36]:
lr.predict(marks_data2.iloc[:,1:3])

array([72.33333333, 89.08333333, 59.        , 55.58333333])

In [37]:
marks_data2['marks']

0    76.5
1    87.0
2    59.0
3    53.5
Name: marks, dtype: float64